.bgcolor{
    background-color: white;
}
.buttonclg{
    background-color: #FD6F00;
    color: white;
}
.border{
    border: 2px solid red;
}
.flex{
    display: flex;
}

.container{
    margin: auto;
    width: 80vw;
    height: 60vh;
    margin: 80px auto;
}

